@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Merriweather, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo { 
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* main image */

#main-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#main-image {
    height: 600px;
    width: 100%;
    background: url('../images/Il\ Torrione.jpeg') no-repeat center center;
    
    /* animates zoom effect on loading page */
    animation-name: main-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for main image */
@keyframes main-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* description */

#description {
    height: 700px;
}

h2 {
    text-align: center;
    letter-spacing: 4px;
    padding: 40px;
    font-size: 200%;
}

.room {
    width: 100%;
    display: block;
    margin: 20px;
}

#description p {
    margin-left: 10px; 
    padding-bottom: 30px;
    letter-spacing: 1px;
}

.photos {
    display: inline-block;
    width: 23%;
    height: auto;
    overflow: hidden;
    margin-left:10px;
    margin-right: 10px; 
}

.photos img {
    width: 100%;
    text-align: center;
}

.location {
    height: 600px;
    background-image: url(../images/sfondo.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#map {
    text-align: center;
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}


/* activities */

table {
    table-layout: fixed;
    width: 100%;
}


table img {
    width: 100%;
    display: block;
}

table p {
    text-align: left;
    margin-left: 10px; 
    padding-bottom: 30px;
    letter-spacing: 1px;

}

table h2 {
    max-width: 350px;
    text-align: center;
}


/* Form */

.form-section {
    clear: left;
    background: url(../images/panorama3.jpg);
    background-size: cover;
    background-position: center;
    height: 1200px;
}

.contactus-form {
    margin: 70px 10% 0 0;
    color: #fff;
    background-color: rgba(36, 103, 182, 0.5);
    max-width: 400px;
    position: absolute;
    left: 50px;
    padding: 30px;
}

.contactus-form > h2 {
    color: #fff;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fff;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fff;
    border-radius: 2px;
}

.text-input:hover {
    background-color: #fafafa;
    color: rgba(36, 103, 182);
}

form > hr {
    margin: 5px 0 20px 0;
}

.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgba(36, 103, 182);
    color: #fafafa;
    display: block;
}

.submit-button:hover {
    background-color: #fafafa;
    color: rgba(36, 103, 182);
}

/* Media queries*/

/* Larger to medium screen size from 1200px and below */

@media screen and (max-width: 1200px) {
    

}