@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Merriweather, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo { 
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* main image */

#main-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#main-image {
    height: 600px;
    width: 100%;
    background: url('../images/il_torrione.jpeg') no-repeat center center;
    
    /* animates zoom effect on loading page */
    animation-name: main-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for main image */
@keyframes main-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* description */

#description {
    height: 700px;
}

h2 {
    text-align: center;
    letter-spacing: 4px;
    padding: 40px;
    font-size: 200%;
}

.room {
    width: 100%;
    display: block;
    margin: 20px;
}

#description > p {
    padding-bottom: 30px;
    letter-spacing: 1px;
    margin-left: 50px;
}

.photos {
    display: inline-block;
    width: 23%;
    height: auto;
    overflow: hidden;
    margin-left:10px;
    margin-right: 10px; 
    vertical-align: top;
}

.photos img {
    width: 100%;
    text-align: center;
}

.photos p {
    margin-left: 0px;
}

.location {
    height: auto;
   
}

#map {
    text-align: center;
}
 


/* footer */

footer {
    height: auto;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}


/* activities */

#activities {
    height: 800px;
    margin-left:10px;
    margin-right: 10px; 
    text-align: center;
}

.tours {
    padding-top: 100px;
    width: fit-content;
}

#activities img {
    width: 100%;
}

.tours-div {
    display: inline-block;
    width: 24%;
    height: auto;
    vertical-align: top;
}


#activities p {
    padding: 5px;
    padding-bottom: 30px;
    letter-spacing: 1px;
    text-align: left;
}

#activities h2 {
    padding-bottom: 30px;
    letter-spacing: 1px;
}



/* Form */

.form-section {
    clear: left;
    background: url(../images/panorama5.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
}

.contactus-form {
    margin: 70px 10% 0 0;
    color: #fff;
    background-color: rgba(36, 103, 182, 0.5);
    max-width: 400px;
    position: absolute;
    left: 50px;
    padding: 30px;
}

.contactus-form > h2 {
    color: #fff;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fff;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fff;
    border-radius: 2px;
}

.text-input:hover {
    background-color: #fafafa;
    color: rgba(36, 103, 182);
}

form > hr {
    margin: 5px 0 20px 0;
}

.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgba(36, 103, 182);
    color: #fafafa;
    display: block;
}

.submit-button:hover {
    background-color: #fafafa;
    color: rgba(36, 103, 182);
}

/* Media queries*/

/* Larger to medium screen size from 1200px and below */

@media screen and (max-width: 1200px) {
    
    #description {
        height: 600px;
        margin: 0 auto;
    }

    .photos {
        margin-left: 0px;
        margin-right: 0px;
    }

    .photos img {
        width: 100%;
        margin: 0;
    }

    .photos p {
        width: 100%;
        text-align: center;
    
        
    }

    #activities h2 {
        padding-left: 20px;
        padding-right: 20px;
    }

    #map iframe {
        width: 80%;
    }
}

/* Larger to medium screen size from 950px and below */

@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 20px;
    }

    #main-outer {
        width:100%;
        height: fit-content;
    }

    #main-image {
        background-size: contain;
        max-height: 400px;
    }


    #description {
        height: auto;
    }

    .room {
        margin: 0;
    }

    #description > p {
        text-align: justify;
        margin-left: 2%;
        margin-right: 2%;
    }

    .photos {
        display: block;
        width: 250px;
        height: auto;
        margin: auto;
        text-align: center;
    }

    .photos p {
        
        padding-top: 5px;
        padding-bottom: 40px;
        overflow: visible;
    }

    #activities {
        height: auto;
    }

    .tours {
        margin: 0;
    }

    .tours-div  {
        width: 90%;
        display: block;
        margin: auto;
        text-align: center;
    }

    .tours-div img {
        max-width: 300px;
        height: auto;
    }

    .tours-div p {
        margin: 0;
        text-align: center;
        float: left;
        padding-top: 5px;
        padding-bottom: 50px;
        
    }

    .tours-div h2 {
        margin: 0;
    }

}


/* Small screen size from 500px and below */

@media screen and (max-width: 500px) {
    
    #menu {
        display:flex;
        flex-direction: column-reverse;
      }
    
    #menu li { 
        margin-left: 0;
        margin-bottom: 20px;
        line-height: 20px;
    }

    #main-outer {
        width:100%;
        height: fit-content;
    }

    #main-image {
        background-size: contain;
        max-height: 200px;
    }

    #map iframe {
        max-height: 400px;
    }
    
    .contactus-form {
        left: 30px;
        margin: 70px 30px 0 0;
    }
}